.App {
  text-align: center;
}

.title{
  color: silver;
}

input{
  display: block;
}

.block {
  border: line;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Green{
  padding: 2px;
  border: 2px dotted rgb(9, 231, 46);
  margin: 0 10px 3px;
}
.Red{
  padding: 2px;
  border: 2px dotted red;
  margin: 0 10px 3px;
}
.navigate{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: salmon;
}

.nav {
  justify-content: center;
  color: #213999;
  font-weight: 500;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  transition: transform 0.2s;
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 0 0.25em;
  }
  .nav:hover {
  color: #d04c3f;
  }
  .nav::before,
  .nav::after {
  position: absolute;
  top: 0;
  font-weight: 100;
  font-size: 150%;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  }
  .nav::before {
  left: -0.1em;
  content: '[';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  }
  .nav::after {
  right: -0.1em;
  content: ']';
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  }
  .nav:hover::before,
  .nav:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  .green{
    color:green
  }
  .red{
    color:red
  }